@charset "UTF-8";
/*-- 0 style --*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  background-color: var(--sub-color-3);
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}


:root{
	--base-color-1: rgb(76, 99, 139);
	--base-color-2: rgb(224, 42, 117);

	--sub-color-1: rgb(255, 255, 255);
	--sub-color-2: rgb(45, 62, 80);
	--sub-color-3: rgb(186, 217, 248);

	--accent-color-1: rgb(255, 166, 0);
	--accent-color-2: rgb(10, 48, 40);
	--indent-gap: 3rem;

	/* Fonts */
	--sub-fz: calc(0.6rem + ((1vw + 1vh) * 0.2));
	--base-fz: calc(1rem + ((1vw + 1vh) * 0.2));
	--head-fz: calc(1.4rem + ((1vw + 1vh) * 0.2));
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 1280px;
}

.cards-wrapper {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.card {
  position: relative;
  max-width: 33.333%;
  width: auto;
  min-width: 10em;
  height: auto;
  background-color: var(--sub-color-1);
  border: 0.2em solid var(--base-color-2);
  border-radius: 2em;
  padding: 1em;
}

.card-body {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 2em;
  overflow: hidden;
  border: 0.2em solid var(--accent-color-2);
}

.user-img {
  -o-object-fit: cover;
  object-fit: cover;
}

.user-fullname,
.user-career {
  color: var(--accent-color-1);
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  line-height: 150%;
  background-color: var(--sub-color-2);
}

.sample {
  font-weight: 600;
}

.user-contacts {
  text-align: center;
  line-height: 150%;
}

.user-contacts__number > a,
.user-contacts__mail > a {
  color: black;
}

.user-contacts__number > a:active,
.user-contacts__mail > a:active {
  color: rgb(255, 5, 5);
}

.user-contacts__number > a:visited,
.user-contacts__mail > a:visited {
  color: rgb(255, 5, 5);
}

.user-contacts__number > a,
.user-contacts__mail > a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.user-contacts__number > a > svg,
.user-contacts__mail > a > svg {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.3rem;
}

.sidebar-item {
  height: 0;
  overflow: hidden;
  transition-duration: var(--accordion-time);
}

.sidebar-item[data-aria-expanded=true] {
  height: var(--accordion-height);
  transition: height ease-out;
  transition-duration: var(--accordion-time);
}

/* Модальное окно */
.modal {
  --transition-time: 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity var(--transition-time), visibility var(--transition-time);
  z-index: 1;
  border-radius: 2rem;
}

.modal__container {
  overflow: hidden;
  padding: 2rem 0 1rem 0;
  width: 100%;
  height: 100%;
  display: none;
}

.modal-content {
  font-size: 1.2rem;
  line-height: 120%;
  overflow-y: scroll;
  height: 90%;
  width: 100%;
  padding: 1rem;
  border-top: 0.2rem solid rgb(168, 0, 0);
}
.modal-content::-webkit-scrollbar {
  width: 0;
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__container.modal-open {
  display: inline-block;
}

.fade {
  opacity: 0;
  transition: opacity var(--transition-time);
}

.fade.animate-open {
  opacity: 1;
  transition: opacity var(--transition-time);
}

.fadeInUp {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
  opacity: 1;
  transform: translateY(0);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.modal-close {
  margin: 0.5rem 1rem;
  background-color: transparent;
  transform: rotate(45deg);
}

.modal-close > svg {
  width: 1.4rem;
  height: 1.4rem;
}
